<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <img src="https://scontent.fcgh4-1.fna.fbcdn.net/v/t1.6435-9/214287544_4122168214535376_3731401737140592951_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeELPrDuCIwoXCCWv2uX-fjcpsSTLbZ1Rm6mxJMttnVGbqypo9CvReMuwyNC6zRcytljr0mCOpdtlpfIINq2cMl3&_nc_ohc=Fw5u2FzCv5YAX_UejMq&_nc_ht=scontent.fcgh4-1.fna&oh=f78498342e88cd44e4b1129c78042ccc&oe=614C6688" alt="Imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
      </li>
      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white fs-16">Username</p>
      </li>
      <li class="nav-item pl-3">
        <a href="">
          <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item pl-3">
        <a class="m-0 font-weight-bold text-white fs-16">
          Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
