<div class="cointainer-fluid">
  <div class="row bg-secondary align-items-center">

    <!-- Lado esquerdo -->
    <div class="col-md-6">
      <!-- Texto -->
      <div class="row d-flex justify-content-center ">
        <div class="col-md-6 text-white">
          <h1 class="fs-54">Welcome!</h1>
          <h5 class="fs-18">Express your thoughts ;) </h5>
        </div>
      </div>
      <!-- Botões -->
      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light mr-2 text-secondary" data-toggle="modal" data-target="#new-post">New post</button>
          <a href="#posts" class="btn btn-outline-light all-posts">All posts</a>
        </div>
      </div>

    </div>

    <!-- Lado direito -->
    <div class="col-md-6">
      <img src="https://imgur.com/tQLH00R.png" alt="" width="500px" height="500px">
    </div>
  </div>
</div>

<!-- Menu posts -->
<div class="container mb-5 mt-5" id="posts">
  <!-- Menuzinho -->
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-allposts-tab" data-toggle="tab" href="#allposts" role="tab" aria-controls="nav-allposts" aria-selected="true"> All posts</a>

      <a (click) = 'findByIdUser()'
      class="nav-item nav-link text-secondary font-weight-bold" id="nav-myposts-tab" data-toggle="tab" href="#myposts" role="tab" aria-controls="nav-myposts" aria-selected="false">
      My posts
    </a>

      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-poststheme-tab" data-toggle="tab" href="#poststheme" role="tab" aria-controls="nav-poststheme" aria-selected="false">Posts by theme</a>
    </div>
  </nav>
  <!-- Conteudo -->

  <div class="tab-content mt-5" id="nav-tabContent">

    <!-- All posts -->
    <div class="tab-pane fade show active" id="allposts" role="tabpanel" aria-labelledby="nav-allposts-tab">

      <!-- Pesquisar -->
      <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="title" placeholder="Search for a post's title" [(ngModel)]='titlePost' (keyup) = 'findByTitlePost()'>
          </div>
        </div>
      </div>

      <div class="card-columns">
        <div class="card text-center"
        *ngFor='let item of postList | orderBy : key : reverse'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.title}}</h5>
            <small class="text-muted">Theme: {{item.theme.title}}</small>
            <p class="card-text mt-3">{{item.text}}</p>
            <p class="card-text"><small class="text-muted">
              {{item.date | date: 'dd/MM/yyyy'}} - {{item.date | date: 'HH:mm'}}
            </small></p>
            <p class="card-text"><small class="text-muted">
              By: {{item.user.name}}
            </small></p>
              <!-- Edit/delete -->
              <a [routerLink]="['/post-edit', item.id]" class="text-info mr-3" href="#">Edit</a>
              <a [routerLink]="['/post-delete', item.id]" class="text-danger" href="#">Delete</a>
          </div>
        </div>
      </div>
    </div>

    <!-- My posts -->
    <div class="tab-pane fade" id="myposts" role="tabpanel" aria-labelledby="nav-myposts-tab">

      <div class="card-columns">
        <div class="card text-center"
        *ngFor='let item of user.post | orderBy : key : reverse'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.title}}</h5>
            <small class="text-muted">Theme: {{item.theme.title}}</small>
            <p class="card-text mt-3">{{item.text}}</p>
            <p class="card-text"><small class="text-muted">
              {{item.date | date: 'dd/MM/yyyy'}} - {{item.date | date: 'HH:mm'}}
            </small></p>

            <!-- Edit/delete -->
            <a [routerLink]="['/post-edit', item.id]" class="text-info mr-3" href="#">Edit</a>
            <a [routerLink]="['/post-delete', item.id]" class="text-danger" href="#">Delete</a>
          </div>
        </div>
      </div>

    </div>

    <!-- Posts by theme -->
    <div class="tab-pane fade" id="poststheme" role="tabpanel" aria-labelledby="nav-poststheme-tab">

            <!-- Pesquisar -->
            <div class="row d-flex justify-content-center mt-5 mb-5">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" id="title" placeholder="Search for a theme" [(ngModel)]='titleTheme' (keyup) = 'findByTitleTheme()'>
                </div>
              </div>
            </div>

      <div class="card-columns"
      *ngFor='let theme of themeList | orderBy : key : reverse'>
        <div class="card text-center" *ngFor='let item of theme.post'>
          <div class="card-body">
            <h6 class="card-title m-0">{{theme.title}}</h6>
            <h5 class="card-title m-0">{{item.title}}</h5>
            <p class="card-text mt-3">{{item.text}}</p>
            <p class="card-text"><small class="text-muted">
              {{item.date | date: 'dd/MM/yyyy'}} - {{item.date | date: 'HH:mm'}}
            </small></p>
            <p class="card-text"><small class="text-muted">
              By: {{item.user.name}}
            </small></p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="new-post" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">New post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Formulario -->
      <div class="modal-body">

        <div class="form-group">
          <label for="title">Title</label>
          <input
          [(ngModel)] ='post.title'
          type="text" class="form-control" id="title" placeholder="Your title here">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea
          [(ngModel)] ='post.text'
          name="description" id="description" cols="30" rows="5" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label for="theme">Pick your theme or <a routerLink='/theme' data-dismiss="modal">tell us a new one</a>: </label>
          <select name="theme"
          id="theme"
          class="form-control"
          [(ngModel)]='idTheme'
          (change)='findByIdTheme()'>
            <option *ngFor = 'let item of themeList'
            value="{{item.id}}">
            {{item.title}}
            </option>
          </select>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success"
        data-dismiss="modal"
        (click)='posts()'
        >Finish</button>
      </div>
    </div>
  </div>
</div>
